.arr-right .breadcrumb-item+.breadcrumb-item::before {
    content: "›";
    vertical-align: top;
    color: #000000;
    font-size: 25px;
    line-height: 16px;
}

.breadcrumb {
    background-color: #EFEFEF;
    padding: .75rem 3rem;
    margin-top: 15px;
    width: 95%;
}

.personal-info {
    margin: 25px 0px 0px 25px !important;
    border: none;
    border-radius: 8px;
    width: 95%;
}

.end {
    float: right;
}