<div class="side-nav sidenav">
    <label class="menu-label">MENU</label>
    <div class="list">
        <div class="form-inline" (click)="changeComponent('dashboard')">
            <span><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.72 11.86" height="15"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><title>Dashboard</title><rect class="cls-1" x="0.25" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="0.25" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/></svg></span>
            <label>Dashboard</label>
        </div>

        <div class="form-inline">
            <span><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.72 11.86" height="15"><defs ><style>.cls-1{fill:#000000;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><title>Dashboard</title><rect class="cls-1" x="0.25" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="0.25" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/></svg></span>
            <label>Documents</label>
        </div>

        <div class="form-inline" id="calender" (click)="changeComponent('availiable')">
            <span><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.72 11.86" height="15"><defs><style>.cls-1{fill:#fff;stroke:#000000;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><title>Dashboard</title><rect class="cls-1" x="0.25" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="0.25" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/></svg></span>
            <label>Calender</label>
        </div>

        <div class="form-inline" (click)="changeComponent('availiability')">
            <span><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.72 11.86" height="15"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><title>Dashboard</title><rect class="cls-1" x="0.25" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="0.25" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/></svg></span>
            <label>Availablility</label>
        </div>

        <div class="form-inline">
        </div>

        <div class="form-inline">
            <span><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.72 11.86" height="15"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><title>Dashboard</title><rect class="cls-1" x="0.25" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="0.25" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/></svg></span>
            <label>Settings</label>
        </div>
        <div class="form-inline">
            <span><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.72 11.86" height="15"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><title>Dashboard</title><rect class="cls-1" x="0.25" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="0.25" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/></svg></span>
            <label>Sign Out</label>
        </div>

        <div class="form-inline">
        </div>

        <div class="form-inline">
            <span><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.72 11.86" height="15"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><title>Dashboard</title><rect class="cls-1" x="0.25" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="0.25" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/></svg></span>
            <label>Support</label>
        </div>

        <div class="form-inline">
            <span><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.72 11.86" height="15"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><title>Dashboard</title><rect class="cls-1" x="0.25" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="0.25" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/></svg></span>
            <label>Message</label>
        </div>

        <div class="form-inline">
            <span><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.72 11.86" height="15"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:0.5px;}</style></defs><title>Dashboard</title><rect class="cls-1" x="0.25" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="0.25" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="6.23" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/><rect class="cls-1" x="0.25" y="6.36" width="5.24" height="5.24" rx="1.56" ry="1.56"/></svg></span>
            <label>About Epilen</label>
        </div>

    </div>
</div>